.rsvp-button{
  position: absolute;
  bottom: 10px;
}

.no-border{
  border: 1px solid transparent;
}

.center-parent {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0,0,0,0.3);
}
.center-container {
  width: 60px;
  height: 60px;
  font-size: 60px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: -30px;
  z-index: -1;
  background-image : url(../../../assets/images/loading.gif);
  background-repeat : no-repeat;
  background-position : center;
}

ul.member-details > li.list-group-item {
  padding-left: 0;
}

.hr-line {
  border-top: 2px solid #ffa500;
}

.bot-border {
  border-bottom: 2px solid #ffa500;
  /*width: 15%;*/
  font-weight: bold;
}
.bg-pink {
  background-color: #FBF1ED;
}
.block {
  display: block;
  width: 100%;
  padding: 14px 28px;
  font-size: 36px;
  cursor: pointer;
  text-align: center;
  height: 100px;
}

input.forgotpass::-webkit-input-placeholder {
  font-style: italic;
}
input.forgotpass:-moz-placeholder {
  font-style: italic;  
}
input.forgotpass::-moz-placeholder {
  font-style: italic;  
}
input.forgotpass:-ms-input-placeholder {  
  font-style: italic; 
}

input.forgotpass {
  border-radius: 0;
}

.calendar {
  box-shadow: 0px 0px 5px rgba(51,51,51,0.7);
  margin-top: 20px;
  display: flex;
  align-items: center;
  line-height: 0;
  max-height: 500px;
  min-height: 100px;
  padding: 0px;
  background: #ffa700;
}

.cal-desc {
  padding: 8px 10px;
  height: 100%;
  min-height: 260px;
  background-color: #f3f3f3;
  word-break: break-word;
}

.cal-img {
  padding: 0;
}

.date .calendar-date {
  margin-top: 1px;
  font-size: 47px;
  /*font-family: Arial;*/
}

.date .calendar-date, .date .calendar-month {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  line-height: normal;
}

.date .calendar-month {
  margin-top: -5px;
  font-size: 24px;
  /*font-family: Arial;*/
}

p.normal-text{
  color: black;
  font-size: 12px;
}
.modal-header{
  background-color: #ffa500;
  color: white;
}

.btn-link {
  color: #ffa500;
}

.btn-link:hover {
  text-decoration: none;
}

.error {
  border-color: red;
}

div#edit-sidebar-content{
  padding-top: 15px;
}

li.page-item.active .page-link{
  z-index: -1;
}

li.page-item > a {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff; 
  border: 1px solid #dee2e6;
}

.page-item:last-child > a {
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.page-item:first-child > a {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.padding-topbottom{
  padding-bottom: 20px;
  padding-top: 10px;
}

.btn.btn-outline-secondary {
  border-color: #ffa500;
  background-color: #ffa500;
  color: white;
}

.btn.btn-outline-secondary:hover {
  background-color: #ffa500;
}

#example-search-input, #member_plan, #member_city {
  font-size: 14px;
}

.directory_img{
  width: 150px;
  cursor: pointer;
}

.braintree-method__disabled-description {
  visibility: hidden;
}

.braintree-method.braintree-method--disabled .braintree-method__delete-container{
  background:transparent;
}

.braintree-method.braintree-method--active.braintree-method--disabled{
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
  text-decoration: none;
}

label.error{
  color: red;
}

ul.alert-list {
  margin-bottom: 0;
}

.b_to_top {
  height: 50px;
  width: 50px;
  position: fixed;
  z-index: 10;
  bottom: 60px;
  right: 16px;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  border-radius: 50%;
  -webkit-transition: all .3s;
  transition: all .3s;
  visibility: hidden;
  /*opacity: 0;*/
  background: rgb(255, 255, 255) url(../../../assets/images/arrow-up-solid.png) no-repeat center center;
  background-size: 50px;
}

.cd-top.cd-top--show { 
  /* the button becomes visible */ 
  visibility: visible;
  opacity: 1;
 } 
 
 .cd-top.cd-top--fade-out { 
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */ 
  opacity: .5; 
 }

 .cd-top.cd-top--fade-out:hover { 
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */ 
  opacity: 1; 
 }
.no-radius, .form-control.memberdir-val, .input-group-lg>.input-group-append>.btn, .input-group-lg>.form-control, .btn.search-membercity {
  border-radius: 0;
}

.empty {
  border: none;
}

img.linkedin_pic {
  width: 60px;
}

img.profile_pic {
  width: 200px;
}
ul.brunchwork-right-nav > li {
  padding-right: 50px;
}

nav.navbar-brunchwork{
  border-bottom: 1px solid #ccc;
  line-height: 3;
  border-top: 5px solid #ffa500;
}

img.navbar-brand {
  width: 250px;
}

li.img-dd.show:after{
    position: absolute;
    left: 40%;
    top: 75px;
    width: 0;
    height: 0;
    content: '';
    /*
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffa500;
    */
    box-sizing: border-box;
    z-index: 1;
    border: 9px solid black;
    border-color: transparent transparent white white;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -3px 3px 6px 0 rgba(164, 166, 168, 0.3);
}

div.brunchwork-dd{
  margin-top: 10px;
}

div.brunchwork-dd > a {
  line-height: 1.5;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}

.hundred-spacer{
  height: 100px;
}

.fifty-spacer{
  height: 50px;
}

.twenty-spacer{
  height: 20px;
}

.ten-spacer{
  height: 10px;
}

ul.profile-details > li, ul.member-details > li {
  border: none;
}

.tab { 
  display:inline-block; 
  margin-left: 20px; 
}

.btn-brunchwork{
  background-color: #ffa500;
  color: #ffffff;
  border-radius: 0;
}

.btn.edit-profile, .btn.contact-member { /*, .cancel-membership, .pause-membership*/
  width: 250px;
}

.box {
  background:#FFF;
  margin:40px auto;
}

.shadowed-box
{
  position: relative;
  width: 100%;
  max-width: 400px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.5);
}
/*
.shadowed-box:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  right: 10px;
  left: auto;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  
}
*/
a.dropdown-item:active {
  background-color: transparent;
}

.borderless tbody td, .borderless thead th {
  border: none;
}

.btn-transparent{
  background-color: transparent;
}

.buttons-card {
  max-height: 150px;
  padding-left: 0;
  padding-right: 0;
}

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Open+Sans";
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FBF1ED;
}

/*
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
*/
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 350px;
    position: fixed;
    padding-top: 100px;
    right: -350px;
    height: 100vh;
    z-index: 999;
    background-color: #FBF1ED;/*#f8f9fa!important;*/
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #ffa500;
    color: #ffffff;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #ffa500;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}